/* Geral */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
p{

}
body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.content{
    width: 100%;
    margin: 0 auto;
}
input button{
    outline: none;
}
input:focus{
    outline: none;
}
input:hover{
    outline: none;
}

/* Header + Nav */
#main__Header{
    width: 100%;
    height: 190px;
    position: relative;
    z-index: 1;

}
header#main__Header .content{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: #ffffff;
    flex-flow: column;
}
.first_Header_Content{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #006953;
    padding:  0px 46px 0px 46px;
    font-size: 11px;
}
.content__Insider{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.content__Insider img{
    padding-right: 15px;
    height: 16px;
    flex-direction: ;
}
.content__Insider img{
    padding-right: 15px;
    height: 16px;
}
.second_Header_Content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  14px 46px 14px 46px;
}
.second_Header_Content div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px 0px 10px; 
}
#logo__Imagem{
    height: 52px;
}
#logo__Titulo{
    height: 25px;
    padding-left: 5px;
}

.second_Header_Content div input{
    width: 500px;
    height: 45px;
    border: 1px solid #DEDEDE;
    padding: 0 35px;
    color: #4A4A4A;
    border-radius: 4px;
    font-size: 10px;
    background: url('/IMG/search001.svg') no-repeat 463px center;

}
.header_Lista_compras{
    display:flex;
    align-self: center;
    border:1px solid #009B7B;
    border-radius: 4px;
    width: 130px;
    height: 45px;
    color: #009B7B;
    font-size: 9px;
}
/*.header_Lista_compras:hover{
    background: #009B7B ;
    color: #ffffff;
}
*/
.header_Lista_compras img{
    padding-left:15px ;
}
.header_Lista_compras p{
    padding-left:5px ;
    text-transform: uppercase;
    line-height: 1.4;
    align-self: center;
}
.header_Login{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 45px;
    color: #000000;
    width: 154px;
    margin: 0px 10px 0px 10px;
}
#login_user_Header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px;
    margin-left:10px ;

}
#conta{
    font-size: 10px;
    font-weight: normal;
    text-transform: none;
    margin-left: 0px;
}
#seta{
    height: 4px;
    align-self: inherit;
    position: relative;
    top: -9px;
    
}
.icon_cart_Header{
    display: flex;

} 
.icon_cart_Header p{
    height: 18px;
    width: 18px;
    font-size: 10px;
    text-align: center;
    border:3px solid #009B7B;
    background-color: #009B7B;
    border-radius: 50%;
    position: relative;
    top: -12px;
    left: -10px;
} 

/* NAVIGATION 1*/
.header_Navgation{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.03);
    align-self: ;
}
.header_Navgation ul{
    display: flex;
    list-style: none;
}
.header_Navgation ul li{
    display: flex;
    align-items: center;
    list-style: none;
}
.header_Navgation ul li a{
    text-decoration: none;
    margin: 20px;
    color:#4A4A4A;
    font-weight: 600;
}

/* Content 1: Slideshow */
/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
  .mySlides {
    width: 100%;
    display:flex;
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */
  .mySlides div{
    display: flex;
    background-image: url('../IMG/Grupo\ de\ máscara\ 118.png') ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 375px;
    flex-direction: column;
    justify-content: space-evenly;

  }
  /* Text Adds */
  .text_Title_Add{
    color: #f2f2f2;
    font-size: 53px;
  
    padding: 8px 12px;
    top: 65px;
    width: 100%;
    text-align: center; 
    font-weight: normal;
    line-height: 1;

  }
  .text_Title_Add strong{
    font-size: 55px;
    letter-spacing: 0.7px;
  }
  .text_Sub_Title_Add{
    color: #f2f2f2;
    font-size: 23px;
    padding: 8px 12px;
 
    bottom: 155px;
    width: 100%;
    text-align: center; 
    font-weight: 200;
    font-style: italic;
    line-height: 1;
  }
  .btn_Bottom_Add {
    border: 1px solid #DEDEDE;
    color: #DEDEDE;
    background: none;
    border-radius:  4px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 12px;
    left: 555px;
    bottom: 50px;
    width: 155px;
    text-align: center;
    padding-top: 10px;

  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

  }
  
  .active, .dot:hover {
    background-color: #717171;
    border: 1px solid green;
    border-spacing: 15px 50px;
    
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/* Content 2: cards*/
.card_session{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 31px;
}

.card_Add{
  transition: 0.3s;
  width:255px;
  height: 325px;
  background-image: url('img_card_1.png');
  display: flex;
}  
  .card_Add:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.container {
  padding: 2px 16px;
}
.card_Add_img{
  text-align: center; 
}
.card_Add_content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width:255px;
  height: 325px;
  padding: 40px 12px 40px 12px ;
}

.card_Add_logtipo{
  position: absolute;
  top: 45px;
  left: 75px;
  width: 119px;
  height: 39px;
}
#card_Add_logtipo_2{
  top: 27px;
  left: 90px;
  width: 74px;
  height: 55px;
}
#card_Add_logtipo_3{
  top: 62px;
  left: 58px;
  width: 139px;
  height: 21px;
}
#card_Add_logtipo_4{
  top: 30px;
  left: 82 px;
  width: 92px;
  height: 52px;
}
.card_Add_text{
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 120px;
  line-height: 1; 
}
.card_Add_text strong{
  font-size: 30px;
  font-weight: 1000;
}
#card_Add_text_2{
  left: 30px;
  top: 110px;
  font-weight: normal;
}
#card_Add_text_2 strong{
  font-weight: 1000;
  font-size: 30px;
}
#card_Add_text_4{
  font-weight: normal;
  font-size: 30px;
  padding: 5px 0px 30px 0px;
}


@supports(-webkit-text-stroke: 1px black){
  .card_Add_text span{
    font-size: 45px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px #ffffff;
  }
}
.card_Add_btn{
    position: absolute;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: none;
    border-radius:  4px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 12px;
    width: 155px;
    text-align: center;
    right: 50px;
    bottom: 50px;
}

/* Content 3: Shop*/
.shop_titles{
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}
.shop_titles_title{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.shop_titles_title h1{
  position: relative;
  bottom: -6px;
  font-size: 30px;
  font-weight: 600;
  color: #009B7B;
  text-transform: uppercase;
}
.shop_navigation{
  display: flex;
  width: 75%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5 );
  align-self: flex-start;
}
.shop_navigation nav{
  width: 20%;
  align-self:flex-end ;
}
.shop_navigation nav ul{
  display: flex;
  list-style: none;
}
.shop_navigation nav ul li{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.shop_navigation nav ul li a{
  align-self: center;
  text-decoration: none;
  padding: 20px;
  color:#9D9D9D;
  font-weight: normal;
}  
.shop_navigation nav ul li a:active{
  text-decoration: none;
  align-self: center;
  color:#009B7B;
  font-weight: 600;
  border-bottom: 2px solid #009B7B ;
}  

.shop_options{
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.shop_options_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 40px;
  width: 275px;
  height: 500px;
  transition: 0.3s;
}
.shop_options_card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  
}
.shop_options_card:hover .shop__card_Icons{
  display: block;
}
.shop_options_card:hover .shop__card_btn button{
  background: #006953;
}
.shop__card_images{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:0px;
}

.shop__card_Icons{
  display: none;
  position: relative;
  top: 20px;
  left: 90px;
}

.shop__card_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
}

.shop__card_text p{
  font-size: 17 px;
  width: 150px;
  text-align: center;
}
.shop__card_text s{
  margin: 18px 2px 5px 2px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.shop__card_text strong{
  font-size: 20px;
}
.shop__card_btn{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.shop__card_btn_adic{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  padding: 6px;
  border-radius: 4px;
}
.shop__card_btn_adic a{
  text-decoration: none;
  color: #000;
  padding: 5px;
}
.shop__card_btn_adic p{
  color: #000;
  margin-left: 3px;
}
.shop__card_btn button{
  border: 0px solid #ffffff;
  color: #ffffff;
  background: #009B7B;
  border-radius:  4px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 15PX;
  width: 155px;
  text-align: center;
}
.card {
  transition: 0.3s;
  width: 40%;
  background-image: url('IMG/Grupo de máscara 118.png');
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


/* Content 4 : Card Adds 2°*/

.card_Add2{
  transition: 0.3s;
  width:530px;
  height: 265px;
  background-image: url('img_card_1.png');
  display: flex;
}  
  .card_Add2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.card_Add2_text{
  color: #ffffff;
  font-size: 49px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  top: 55px;
  left: 150px;
  line-height: 0.9; 
}
.card_Add2_text strong{
  font-size: 33px;
  font-weight: 1000;
}
.card_Add2_text_2{
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  top: 45px;
  left: 165px;
  line-height: 1.2; 
  font-size: 36px;
  font-weight: normal;
}
.card_Add2_text_2 em{
  font-weight: 1000;
  font-size: 49px;
}

.card_Add2_btn{
  position: absolute;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: none;
  border-radius:  4px;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 12px;
  width: 155px;
  text-align: center;
  left: 190px;
  bottom: 100px;
}

/*Content 5: Instagram segment*/
.instagram_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #009B7B;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  margin: 25px;
  text-transform: uppercase;
}
.instagram_text h4{
  font-size: 21px;
}

.instagram_segment{
  margin: 50px 0px 50px 0px;
  display: block;
  background-image: url('../IMG/Grupo316.png');
  width: 100%;
  height: 233px;
}
#instagram_description{
  width: 1078px;
  margin: 25px;
  font-size: 14px;
  color: #707070;
  text-align: center;
  text-transform:lowercase;
  line-height: 2.2;
}

/* Conteudo 6: Rodapé*/
.rodape_final{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #2A2A2A;
  height: 395px;
}
.rodape_final_menu{
  display: flex;
  align-content: space-between;
  justify-content: space-between;

}
.rodape_final_nav{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #DEDEDE;
  font-weight: 100;
  align-content: flex-start;
  margin: 0px 50px 15px 50px;
  line-height: 2.5;
}
.rodape_final_nav h5{
  font-size: 12px;
  text-align: left;
  align-self: flex-start;
  font-weight: 800;
  margin: 0px;
}
.rodape_final_nav nav{
  margin: 0px;
}
.rodape_final_nav nav ul{
  list-style: none;
}
.rodape_final_nav nav ul li{
  list-style: none;
  text-align: left;
}
.rodape_final_nav nav ul li a{
  text-decoration: none;
  color:#9D9D9D;
  font-weight: normal;
}
.rodape_final_formulario{
  background-color: #ffffff;
  width: 380px;
  height: 260px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #2A2A2A;
  font-weight: 100;
  align-content: center;
  justify-content: space-around;
  margin: 0px 50px 15px 50px;
  line-height: 1.5;
  text-align: center;
  padding: 40px 15px 20px 15px;
}
.rodape_final_formulario h2{
  text-transform: uppercase;
  font-weight: 400;
}
.rodape_final_formulario_email{ 
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.rodape_final_formulario_email input{
  width: 230px;
  height: 45px;
  border: 1px solid #000000;
  padding: 0 25px;
  color: #4A4A4A;
  border-radius: 4px;
  font-size: 10px;
  background: #ffffff ;
}
.rodape_final_formulario_email button{
  width: 62px;
  height: 45px;
  background-color: #009B7B;
  border: 0px solid #2a2a2a;
  color: #ffffff;
  background: #009B7B;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 5px;
  text-align: center;
}
.rodape_final_redes{
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 15px;
}
.rodape_final_redes :first-child{
  margin-left: 0px;
}
.rodape_final_CC{
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #707070;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  padding: 50px 15px 0px 50px;
}
.rodape_final_CC div p{
  width: 790px;
}
.rodape_final_CC_Figs{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.rodape_final_CC_Figs figure{
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-left: 90px;
}
.rodape_final_CC_Figs figure img{
  margin-left: 25px;
}